<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:name="one.tesseract.example.rust_wallet.Application"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.WalletApp">
        <activity
            android:name="one.tesseract.example.rust_wallet.SignActivity"
            android:exported="false"
            android:label="Wallet" />
        <activity
            android:name="one.tesseract.service.transport.ipc.TesseractActivity"
            android:exported="true"
            android:theme="@style/Theme.WalletApp.NoActionBar">
            <intent-filter>
                <action android:name="one.tesseract.CALL" />

                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="tesseract/test"/>
            </intent-filter>

            <meta-data
                android:name="channel"
                android:value="default" />
        </activity>
        <activity
            android:name="one.tesseract.example.rust_wallet.MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.WalletApp.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>