<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TesseractAndroid">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.TesseractAndroid">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="one.tesseract.client.transport.ipc.TesseractActivity"
            android:exported="false"
            android:label="Tesseract">
        </activity>
    </application>
    <queries>
        <intent>
            <action android:name="one.tesseract.CALL" />
            <category android:name="android.intent.category.DEFAULT" />
            <data android:mimeType="tesseract/*" />
        </intent>
    </queries>
</manifest>